{% extends 'navbar.html' %}
{% block content %}
<div class="off-canvas-content" data-off-canvas-content>
  <div class="title-bar hide-for-large">
    <div class="title-bar-left">
      <button class="menu-icon" type="button" data-open="my-info"></button>
      <span class="title-bar-title">{{name}}</span>
    </div>
  </div>
  <div class="callout secondary">
    <div class="row column">
      <h1>View / Edit Lab</h1>
    </div>
  </div>
  <hr />
  <div class="row small-up-2 medium-up-3 large-up-4">
    {% if not labs %}
    <h5>You have not yet created any Labs</h5>
    {% endif %}
    {% for lab in labs %}
      <div class="column">
        <img class="thumbnail" src="data:image/jpg;base64, {{lab.image.decode() | safe}}">
        <h5>{{lab.name}}</h5>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
