{% extends 'navbar.html' %}
{% block content %}
  <div class="callout secondary">
    <div class="row column">
      <h1>Lab Management Console</h1>
      <a href='/create' class="button">Create New Lab</a>
    </div>
  </div>
    <div class="row" style="padding: 0 10px 0 10px">
        <a href="?filter=all" class="button small nomargin">All Courses</a>
        <a href="?filter=all" class="button small hollow nomargin">Digital Forensics 2</a>
        <a href="?filter=all" class="button small hollow nomargin">Incident Response</a>
    </div>
  <hr/>
  <div class="row small-up-2 medium-up-3 large-up-4">
    {% if not labs %}
        <h5>You have not yet created any Labs</h5>
    {% else %}
        {% for lab in labs %}
            <div class="column">
                {% include 'card-lab.html' %}
            </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}
