{% extends 'navbar.html' %}
{% block content %}
<div class="off-canvas-content" data-off-canvas-content>
  <div class="title-bar hide-for-large">
    <div class="title-bar-left">
      <button class="menu-icon" type="button" data-open="my-info"></button>
      <span class="title-bar-title">{{name}}</span>
    </div>
  </div>
  <div class="callout secondary">
    <div class="row column">
      <h1>Lab Management Console</h1>
      <button class="button" onclick="location.href='/create'">Create New Lab</button>
    </div>
  </div>
  <hr />
  <div class="row small-up-2 medium-up-3 large-up-4">
    <div class="column">
      <img class="thumbnail" src="https://placehold.it/550x550">
      <h5>Test Lab</h5>
    </div>
    <div class="column">
      <img class="thumbnail" src="https://placehold.it/550x550">
      <h5>Test Lab</h5>
    </div>
    <div class="column">
      <img class="thumbnail" src="https://placehold.it/550x550">
      <h5>Test Lab</h5>
    </div>
    <div class="column">
      <img class="thumbnail" src="https://placehold.it/550x550">
      <h5>Test Lab</h5>
    </div>
    <div class="column">
      <img class="thumbnail" src="https://placehold.it/550x550">
      <h5>Test Lab</h5>
    </div>
    <div class="column">
      <img class="thumbnail" src="https://placehold.it/550x550">
      <h5>Test Lab</h5>
    </div>
    <div class="column">
      <img class="thumbnail" src="https://placehold.it/550x550">
      <h5>Test Lab</h5>
    </div>
    <div class="column">
      <img class="thumbnail" src="https://placehold.it/550x550">
      <h5>Test Lab</h5>
    </div>
    <div class="column">
      <img class="thumbnail" src="https://placehold.it/550x550">
      <h5>Test Lab</h5>
    </div>
    <div class="column">
      <img class="thumbnail" src="https://placehold.it/550x550">
      <h5>Test Lab</h5>
    </div>
    <div class="column">
      <img class="thumbnail" src="https://placehold.it/550x550">
      <h5>Test Lab</h5>
    </div>
    <div class="column">
      <img class="thumbnail" src="https://placehold.it/550x550">
      <h5>Test Lab</h5>
    </div>
  </div>
</div>
{% endblock %}
