{% extends 'navbar.html' %}

{% block content %}
        <div class="callout secondary">
            <div class="row">
                <div class="large-9 column">
                  <h1>Welcome to Neurolabs!</h1>
                  <p class="lead">Complete labs to earn points.</p>
                </div>
                {% include 'level.html' %}
            </div>
        </div>
          <div class="row gutter-small">
             <div class="large-6 column">
                  <div class="chart">
                    <h5>Skill Distribution</h5>
                    <div><canvas id="radar"></canvas></div>
                  </div>
             </div>
            <div class="large-6 column">
                <div class="chart">
                    <h5>Grade Performance</h5>
                    <div><canvas id="bar"></canvas></div>
                </div>
            </div>
          </div>
          <hr>
            <ul class="stats-list">
              <li>
                5 <span class="stats-list-label">Completed</span>
              </li>
              <li class="stats-list-positive">
                3 <span class="stats-list-label">Upcoming</span>
              </li>
              <li class="stats-list-negative">
                2 <span class="stats-list-label">Missing</span>
              </li>
            </ul>
            <hr>
          <div class="row small-up-2 medium-up-3 large-up-4">
            {% for lab in labs %}
              <div class="column">
                <a href="/edit-lab?id={{lab.id}}"><img class="thumbnail" src="data:image/jpg;base64, {{lab.image.decode() | safe}}"></a>
                <a href="/edit-lab?id={{lab.id}}"><h5>{{lab.name}}</h5></a>
              </div>
            {% endfor %}
          </div>
        </div>
    <script src="../static/dashboard.js"></script>
  {% endblock %}
