<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Neuralabs | Login</title>
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
  </head>
  <body>


    <!-- Start Top Bar -->
    <div class="top-bar">
      <div class="row">
        <center>
          <h3>Login to Neuralabs</h3>
        </center>
      </div>
    </div>
    <!-- End Top Bar -->
    <br>
    <!-- You can now combine a row and column if you just need a 12 column row -->
    <center>
      <form action="" method="post">
        <p>Email</p>
        <div style="width: 30%;">{{ form.email }}</div>
        <p>Password</p>
        <div style="width: 30%;">{{ form.password }}</div>
        {{ form.hidden_tag() }}
        <br>
        <br>
        <input class="button" type="submit" value="Login">
      </form>
      <a href="register">I need to register for an account</a>
    </center>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
