<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
    <title>Neuralabs | Change Password</title>
</head>
<body>
<center>
    <!-- Start Top Bar -->
    <div class="top-bar">
      <div class="row">
        <center>
          <h3>Change Password</h3>
        </center>
      </div>
    </div>
    <!-- End Top Bar -->
    <br>
    <!-- You can now combine a row and column if you just need a 12 column row -->
<form method="post">
    {% include 'form-feedback.html' %}
    <p>New Password</p>
    <div style="width: 30%;">{{ form.new_password }}</div>
    <p>Confirm Password</p>
    <div style="width: 30%;">{{ form.confirm }}</div>
    <input class="button" type="submit" value="Change">
    {{ form.hidden_tag() }}
</form>
</center>
</body>
</html>