{% extends 'navbar.html' %}

{% block content %}
    <br>
    <div style="width: 80%; margin: auto;">
        <form method="post" class="reveal" id="join-course" data-reveal>
          <p class="lead">Enter course code to join:</p>
            {{ form.join_code(required='required') }}
            <!--<input type="text" name="join_code" placeholder="xxxxxx" minlength="6" maxlength="6" required> -->
            <button class="button small" type="submit">Join</button>
          <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
        </form>
        <div class="row">
            <img class="columns small-2" src="https://via.placeholder.com/150">
            <div class="columns small-4">
                <h1 class="row">{{ user.name }}</h1>
                <p class="row button tiny hollow" style="color: {{ user.role_color }}; border-color: {{ user.role_color }}">{{ user.role_display }}</p>
            </div>
            <a class="columns small-2 button small"><i class="fi-pencil"></i> Edit Profile</a>
        </div>
        <br>
        <ul class="tabs" data-tabs id="example-tabs">
          <li class="tabs-title is-active"><a data-tabs-target="about" href="#about" aria-selected="true">About</a></li>
          <li class="tabs-title"><a data-tabs-target="about" href="#friends">Friends</a></li>
            <li class="tabs-title"><a data-tabs-target="about" href="#settings">Settings</a></li>
        </ul>
        <br>
        <div class="row gutter-small tabs-panel is-active" id="about">
        {% include 'form-feedback.html' %}
            <table class="columns large-5">
                <thead>
                    <tr>
                      <th width="200">Account Information</th>
                    </tr>
                    <tbody>
                        <tr><td><label style="color: gray"><i class="fi-projection-screen"></i> School: </label> Eastern Michigan University</td></tr>
                        <tr><td><label style="color: gray"><i class="fi-mail"></i> Email: </label> {{ user.email }}</td></tr>
                        <tr><td><label style="color: gray"><i class="fi-calendar"></i> Joined on: </label>{{ user.join_date }}</td></tr>
                    </tbody>
                </thead>
            </table>
            <table class="columns large-6 unstriped">
                <thead>
                    <tr>
                        <th>
                            Enrolled Courses
                            <a data-open="join-course" style="float: right;"><i class="fi-plus"></i> Join Course</a>
                        </th>
                    </tr>
                    <tbody>
                        {% for course in enrolled_courses %}
                            <tr><td>{{ course.title }} <a href='/course/{{ course.id }}' style="float:right">View</a></td></tr>
                        {% endfor %}
                        {% for course in instructor_courses %}
                            <tr><td>[Instructor] {{ course.title }} <a href='/course/{{ course.id }}' style="float:right">View</a></td></tr>
                        {% endfor %}
                    </tbody>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}