<!doctype html>
<html class="no-js" lang="en">
  <head>
      {% include 'head.html' %}
      <title>Neuralabs | Register</title>
  </head>
  <body>
        <div class="callout secondary" style="padding: 0">
            <div>
                <img style="height: 50px" src="https://logoipsum.com/logo/logo-16.svg">
                <h5 style="display: inline-block">Neuralabs</h5>
            </div>
        </div>
        <br>
        <form method="post" action="/register" class="account-form">
            <h4 class="text-center">Register for an Account</h4>
            {% include 'form-feedback.html' %}
            <label><i class="fi-torso"></i> Username{{ form.name }}</label>
            <label><i class="fi-mail"></i> Email{{ form.email }}</label>
            <label><i class="fi-lock"></i> Password{{ form.password }}</label>
            <label><i class="fi-lock"></i> Confirm Password{{ form.confirm }}</label>
            {{ form.hidden_tag() }}
            <p><input type="submit" class="button expanded" value="Sign Up"></p>
            <p class="text-center">Already have an account? <a href="/">Login In</a></p>
        </form>
  </body>
</html>
