<!doctype html>
<html class="no-js" lang="en">
  <head>
      {% include 'head.html' %}
      <title>Neuralabs | Register</title>
  </head>
  <body>


    <!-- Start Top Bar -->
    <div class="top-bar">
      <div class="row">
        <center>
          <h3>Register for an Account</h3>
        </center>
      </div>
    </div>
    <!-- End Top Bar -->
    <br>
    <!-- You can now combine a row and column if you just need a 12 column row -->
    <center>
      <form action="/register" method="post">
          {% include 'form-feedback.html' %}
        <p>Name</p>
        <div style="width: 30%;">{{ form.name }}</div>
        <p>Email</p>
        <div style="width: 30%;">{{ form.email }}</div>
        <p>Password</p>
        <div style="width: 30%">{{ form.password }}</div>
        <p>Confirm Password</p>
        <div style="width: 30%">{{ form.confirm }}</div>

        {{ form.hidden_tag() }}
        <br>
        <br>
        <input class="button" type="submit" value="Submit">
      </form>
      <a href="/">I already have an account</a>
    </center>
  </body>
</html>
