<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
    <title>Neuralabs | Change Reset</title>
</head>
<body>
<center>
    <!-- Start Top Bar -->
    <div class="top-bar">
      <div class="row">
        <center>
          <h3>Reset Password</h3>
        </center>
      </div>
    </div>
    <!-- End Top Bar -->
    <br>
    <!-- You can now combine a row and column if you just need a 12 column row -->
<form method="post">
    {% include 'form-feedback.html' %}
    <p>Email</p>
    <div style="width: 30%;">{{ form.email }}</div>
     <input class="button" type="submit" value="Request Reset">
    {{ form.hidden_tag() }}
</form>
</center>
</body>
</html>