{% extends 'navbar.html' %}
{% block content %}
<div class="callout secondary">
  <div class="row column">
    <h1>Lab Editor</h1>
  </div>
</div>
<div class='row center'>
    <form action="{% if lab %}/edit-lab/{{ lab.id }}{% else %}/create-lab{% endif %}" method="POST" enctype=multipart/form-data class="large-9 columns sections" id="labForm" data-mutate="labEdit">
        {{ form.hidden_tag() }}
        {% include 'form-feedback.html' %}
        <section id="lab_details" data-magellan-target="lab_details">
            <div class="cell">
                <label>Lab Name
                    <input type="text" name="name" value="{% if lab %}{{lab.name}}{% endif %}" required>
                </label>
            </div>
            <div class="cell">
                {% include 'labs/components/thumbnail-selector.html' %}
            </div>
            <div class="cell">
                {% include 'labs/components/tag-selector.html' %}
            </div>
            <div class="cell">
                {% include 'labs/components/difficulty-selector.html' %}
            </div>
            <div class="cell">
                <label>What Course is this lab for?
                <select name="course">
                    {% for course in courses %}
                        <option value="{{course.id}}">{{course.name}}</option>
                    {% endfor %}
                </select>
                </label>
            </div>
            <div class="cell">
              <label>Description
                <textarea style="height:100px;" placeholder="A basic intro into capturing and analying volatile memory..." name="description">{% if lab %}{{ lab.description }}{% endif %}</textarea>
              </label>
            </div>
        </section>
        <h3><small><strong>Lab Pages</strong></small></h3>
        <div id="sequential_pages">
        <hr style="border-bottom: 1px dashed #c3c3c3;">
            {% if lab %}
                {% for page in lab.pages %}
                    {% include 'labs/components/page.html' %}
                {% endfor %}
            {% else %}
                {% include 'labs/components/page.html' %}
            {% endif %}
        </div>
        <section id="publish" data-magellan-target="publish">
            <input id='total-page-count' type="hidden" name='total-page-count' value='2'/>
            <input class="button" onclick="addLabPage();" value="Add Another Page"/>
            <input class="button" style="background-color:green;" type="submit" value="Publish Lab"/>
        </section>
    </form>

    <nav class="large-3 columns sticky-container show-for-large" data-sticky-container>
      <div class="sticky is-at-top is-stuck" data-sticky>
        <ul class="vertical menu lab-nav" data-offset="130" style="margin-top: 9em; text-indent: 10px;" data-magellan>
            <li style="background-color: lightseagreen; color: white;font-weight: 600;">Lab Editor</li>
            <li><a href="#lab_details">Lab Details</a></li>
            <li><a href="#page_1">Page 1<i style="color: red; float: right;" class="fi-x" title="Delete Page"></i></a></li>
            <li><a href="#publish">Publish Lab</a></li>
        </ul>
      </div>
    </nav>
</div>
    <script>$(document).foundation();</script>
<script src="/static/manage_lab.js"></script>
{% endblock %}
