{% extends 'navbar.html' %}

{% block content %}
    <div class="callout secondary" style="background: black">
        <div class="row column">
            <h1>Administration Console</h1>
            <a href="/create" class="button">Create New Instructor</a>
        </div>
    </div>
    <br>
    <div style="margin: auto;">
    <div class="row collapse">{% include 'administration/table_courses.html' %}</div>
    <div class="row collapse">
        <div class="column large-6">{% include 'administration/table_tags.html' %}</div>
        <div class="column large-6">{% include 'administration/table_schools.html' %}</div>
    </div>
    </div>

{% endblock %}
