{% extends 'navbar.html' %}

{% block content %}
    <div class="callout secondary">
        <div class="row column">
            <h1>{{ course.title }}</h1>
            <p class="lead"><i class="fi-torso"></i> {{ course.students|length }} student(s) - <i class="fi-torso-business"></i> {{ course.instructors|length }} instructor(s)</p>
            {% if has_perms %}<a class="button" href="/manage">Manage Labs</a>{% endif %}
        </div>
    </div>
    <form method="get" class="reveal" id="add-instructor" data-reveal>
          <p class="lead">Add course instructor:</p>
            {% include 'administration/search_users.html' %}
          <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
    </form>
    <div style="text-align: center; background: aliceblue; padding: 5px">
        <p>Course Join Code:</p>
        <h1 style="font-weight: 900;">{{ course.join_code }}</h1>
    </div>
    <br>
    <div style="width: 80%; margin: auto;">
        <table class="columns large-6">
                <thead>
                    <tr>
                        <th>
                            Students
                        </th>
                    </tr>
                    <tbody>
                        {% if students %}
                          {% for student in students %}
                              <tr><td>{{ student.name }} {% if has_perms %}<a style="float: right; color: red" href="/course/{{ course.id }}?remove={{ student.id }}">Remove</a>{% endif %}</td></tr>
                          {% endfor %}
                        {% endif %}
                    </tbody>
                </thead>
        </table>
            <table class="columns large-6">
                <thead>
                    <tr>
                        <th>
                            Instructors
                            <a data-open="add-instructor" style="float: right;"><i class="fi-plus"></i> Add Instructor</a>
                        </th>
                    </tr>
                    <tbody>
                      {% if instructors %}
                        {% for instructor in instructors %}
                            <tr><td>{{ instructor.name }} {% if has_perms %}<a style="float: right; color: red" href="/course/{{ course.id }}?remove_instructor={{ instructor.id }}">Remove</a>{% endif %}</td></tr>
                        {% endfor %}
                      {% endif %}
                    </tbody>
                </thead>
        </table>
    </div>
    <hr style="margin-top: 200px;">
    <div style="width: 50%; margin: auto">
        <h3>Course Leaderboard</h3>
        {% include 'leaderboard.html' %}
    </div>
{% endblock %}
