<input style="margin-bottom: 0" type="text" id="instructor-search" placeholder="John Smith" maxlength="30" required>
<input type="hidden" id="instructor_id" name="add_instructor">
<div id="instructor-results"></div>
<script>
    $(document).ready(function () {
        $('#instructor-search').on('keyup paste', function () {
            if (this.value.length >= 3) {
                $.ajax({
                    type: "get",
                    url: "/instructors",
                    data: {q: this.value},
                    success: function (data) {
                        $('#instructor-results').empty();
                        for (instructor in data) {
                            console.log(data[instructor]);
                            $('#instructor-results').append('<div id="' + data[instructor]["_id"]["$oid"] + '" class="instructor-result">' + data[instructor]["name"] + '<span id="' + data[instructor]["_id"]["$oid"] + '" style="margin-left:10px;color: grey;">' + data[instructor]["email"] + '</span></div>');
                        }
                        $('.instructor-result').click(function(event) {
                            $('#instructor_id').val(event.target.id);
                            $(this).closest('form').submit();
                        })
                    }
                });
            }
        });

    });
</script>
