*,*:focus,*:hover{
    outline:none;
}

#sidenav-buttons {
    margin: 50px auto;
    width: 70%;
}

.off-canvas {
    background: white;
    text-align: center;
}

.callout.secondary {
    border: 0;
    background-color: lightseagreen;  /* TODO: Pick a color scheme */
    color: #ffffff;
}

.position-left.is-transition-push {
    box-shadow: none;
    -webkit-box-shadow: none;
    border-right: 1px #f1f1f1 solid;
}

#instructor-results {
    border: 1px solid #cacaca;
    text-indent: 10px;
}

.instructor-result {
    background: white;
    padding: 5px;
}
.instructor-result:hover {
    background: lightseagreen;
    cursor: pointer;
}
.list tbody {
    border-left: 0;
    border-right: 0;
    border-top: 0;
}
.list tr {
    height: 70px;
}